/* Палитра цветов */
:root {
  --main-txt-color: #212121;
  --body-color: #ffffff;
  --txt-color: #757575;
  --heder-link-color: #2196f3;
  --logo-footer-color: #000000;
  --section1-background-color: #2f303a;
  --footer-link-color: rgb(255, 255, 255, 0.6);
  --section2-background-color: #ececec;
  --section-background-color: #f5f4fa;
  --activity-color: #ff0000;
  --border-color: #afb1b8;
  --color-opacity: rgba(0, 0, 0, 0.2);
  --circle-coloir: rgba(0, 0, 0, 0.1);
  --worck-card-color: rgba(47, 48, 58, 0.8);
  --worck-color: rgba(33, 150, 243, 0.9);
}
ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #000000;
  }
  /* .header{

  } */
  /* .nav-container {
    display: flex;
    align-items: center;
    background-color: bisque;
    width: 250px;
    outline: 1px solid black;
  } */
  .nav {
    display: flex;
    padding: 0;
    margin-left: 25px;
    margin-right: 25px;}
    /* margin-left: 93px;} */
    /* .nav-container {
      display: flex;
      align-items: center;
    } */
    .nav .item + .item {
      margin-left: 50px;
    }
    .nav-link {
      color: var(--main-txt-color);
      line-height: 1.14;
      letter-spacing: 0.02em;
      font-weight: 500;
      padding-top: 32px;
      padding-bottom: 32px;
      transition: background-color 250ms, cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }
    .nav-link:hover,
.nav-link:focus,
.hader-link:hover,
.hader-link:focus {
  color: var(--heder-link-color);
  fill: var(--heder-link-color);
}
.link-accent {
  /* padding-top: 32px; */
  padding-bottom: 32px;
  color: var(--heder-link-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  position: relative;
  display: block;
}
.hrebet{
  color: #2196f3;
  padding-left: 30px;
  font-size: 25px;
}


  .main_box {
    /* background-color:   lightblue; */
    background-color: antiquewhite;
  }
  .flex_contener {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main_text {
    text-align: center;
    color: brown;
  }
  .note{
  color: red;
  font-size: 20px;
  font-weight: bold;

  }
  .back{
    margin-left: 60px;
  }
  .paragraf {
    /* text-align: center; */
    margin-bottom: 50px;
    color:navy;
  }
  .list_box {
    width: 370px;
    background-color: var(--sub-txt-color);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .list_box:hover{
    box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
  }
  
.pictures_text_box{
  /* margin-left: 23px; */
margin-top: 7px;
text-align: center;
}
/* .pictures_text:hover{
  color: var(--heder-link-color)
} */
  /* .bercha_logo{
    border-radius: 50%;
    position: relative;
  top: 10px;
  right: 322px;
  outline: 3px solid red;
  display: flex;
  left: 9px;
  } */
  /* .pictures_box_footer{
    display: flex;
  } */
  /* .img :hover{
color: blue;
  box-shadow: 0px 4px 4px 0px #00000040;
  } */
  .conspect{
    margin-left: 170px;
    margin-right: 152px;
  }
  .youtube{
  color: red;
  }
  .linc_list{
    font-size: 20px;
  }
  .vacula{
    margin-left: 40px;
  }
  .linck_hover:hover{
    color: var(--activity-color);
    transition: background-color 250ms, cubic-bezier(0.4, 0, 0.2, 1) 50ms;
  }
  .span{
    font-size: small;
  }
  .title_masaje{
    margin-left: 20px;
  }
  .linck_masaje:hover {
    color: var(--heder-link-color);
  }
  .term{
    color: var(--heder-link-color);

  }
  .term:hover
{
 color: red;
 font-weight: bold;
  border-radius: 20%;
  /* background-color: var(--heder-link-color); */
  box-shadow: 0px 4px 4px 0px #f0051940;
  /* transition: color 100ms, cubic-bezier(0.4, 0, 0.2, 1) 100ms; */
   }


  /* Таблиця */
  td {
    border: 1px solid grey;
    text-align: center;
    background-color: antiquewhite;
    
   }
 th {
    border: 1px solid grey;
    /* width: 100px; */
    background-color: yellow;
 }
 table {

    border: 1px solid grey;
 
 }
 /* Совмещение рамок, */
 table { 

     border-collapse: collapse; 
     width: 100%; 
 }
 a {
    text-decoration: none;
 }

 a:hover {
    color:red;
    
  }
  .text_term_color{
    color: var(--heder-link-color);
  }


  /* _______________________________________FOOTER________________________________________________ */



/* Задает цвет основному шрифту */
body {
  color: var(--txt-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background: var(--sub-txt-color);
}

/* Стилизация секция 3*/
.our-activities {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--main-txt-color);
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}
/* Стилизация секция 4 */
.worck-team {
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  color: var(--main-txt-color);
}
.person {
  font-size: 16px;
  line-height: 1.18;
  color: var(--txt-color);
}
.person-information {
  padding-top: 30px;
 
}
.section {
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* .section-color {
  background-color: var(--section-background-color);
} */
.container_main {
  max-width: 1900px;
  /* margin-right: 10px;
  margin-left: 10px; */
  padding-left: 15px;
  padding-right: 15px;
  background-color: antiquewhite;
  /* outline:1px solid black */
}
.our-team {
  display: flex;
  justify-content: space-between;
padding: 0%;
}
/* .item{ 
  border: 1px solid #000;
} */
.li-team {
  width: 270px;
  background-color: var(--body-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-radius: 10px;
  background-color: bisque;
}
.soc-icon {
  display: flex;
  width: 206px;
  /* height: 44px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px; */
  margin-bottom: 30px;
  justify-content: space-between;
}
.soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
}
.instagram {
  background-size: 20px;
}
.soc-link-box {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--border-color);
}
.soc-link-box-none_active {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--border-color);
}
.soc-link-box-none_active:hover,
.soc-link-box-none_active:focus{
  background-color: var(--activity-color);
  fill: var(--body-color);
  border-radius: 50%;
}
.soc-link-box:hover,
.soc-link-box:focus {
  background-color: var(--heder-link-color);
  fill: var(--body-color);
  border-radius: 50%;
}
.foto{
  border-radius: 50%;
  margin-top: 25px;
}